*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #40404005;
  background-image: url('https://images.unsplash.com/photo-1499002238440-d264edd596ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzh8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  backdrop-filter: brightness(0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  color: white;
}
center{
  display: flex;
  gap:15px;
  margin-bottom: 2em;
}
center h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
center select.hrFormat{
  border: 1px solid black;
  background: transparent;
  color: white;
  box-shadow: 4px 4px 4px rgba(0,0,0,.4);
  outline: none;
  cursor: pointer;
}
select.hrFormat:hover{
  color: black;
  transform: scale(1.1);
  transition: all .4s ease;
}
section.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.clock > section{
  display: flex;
}
.clock div {
  margin: 5px;
  position: relative;
}
section.upadteClock div span {
  width: 100px;
  height: 80px;
  background: slateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0.6);
  border: 1px solid #818080;
    box-shadow: 2px 4px 5px rgb(0 0 0 / 60%)
}
section.upadteClock span.text {
  height: 30px;
  font-size: 15px;
  background: darkblue;
  text-decoration: uppercase;
  letter-spacing: 4px;
  opacity: 0.7;
}
section.upadteClock .ampm {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background: transparent;
}
section .ampm:hover {
  transition: all 0.5s ease;
  border: #000;
  font-size: large;
}
section.updateDMY {
  justify-content: space-between;
  align-items: flex-end;
}
section.updateDMY div span{
width:100px;
height: 100px;
    display: inline-block;
    font-size: 2.5rem;
    text-align: center
}

/* analog clock */

.analog_clock{
  width:100px;
  height: 100px;
  border: 5px solid rgb(64,22,12);
  border-radius: 50%;
position: absolute;
}
.seconds_hand{
  position: absolute;
  height: 38px;
  width: 2px;
  background-color: rgb(70,255,255);
  left: 46px;
  bottom: 47px;
  transform-origin: 0% 100%;
}
.minutes_hand{
  position: absolute;
  height: 30px;
  width: 2px;
  background-color: rgb(285,112,255);
  left: 46px;
  bottom: 45px;
  transform-origin: 0% 100%;
}
.hours_hand{
  position: absolute;
  height: 23px;
  width: 4px;
  background-color: rgb(205,112,255);
  left: 46px;
  bottom: 45px;
  transform-origin: 0% 100%;
}
.center{
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  left:41px;
  bottom: 41px;
  background-color: rgb(64,22,12);
}